user: ""
password: ""
weblink: ""
timeout: 10
ignore_cert: yes
included_tasks:
  - server: LUORAGW02
    tasks:
      - Leads API Test
      - Leads API
      - IPCC
excluded_tasks:
  - server: LUORAGW02
    tasks:
      - IPCC
included_tags:
  - 01-Production-Non-Oracle-Replication
  - 01-Production-Oracle-Replication