user: ""
password: ""
server: ""
timeout: 10
included_tasks:
  - server: LUORAGW02
    tasks:
      - Leads API Test
      - Leads API
      - IPCC
excluded_tasks:
  - server: LUORAGW02
    tasks:
      - IPCC